meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

link(rel="icon", href=url_for(theme.favicon))

title
   block site_title
       = config.title
block description
    meta(name="description", content=config.description)

- var cf = "//cdnjs.cloudflare.com/ajax/libs/"

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))
link(rel='stylesheet', href=cf + "twitter-bootstrap/3.3.7/css/bootstrap.min.css")
link(rel='stylesheet', href=url_for("/css/main.css") + "?__inline=true")

link(rel="preload" as="style", href="https://fonts.googleapis.com/css?family=Open+Sans:300,800", media='none', onload="if(media!='all')media='all'")
noscript
  link(rel="preload" as="style", href="https://fonts.googleapis.com/css?family=Open+Sans:300,800")

link(rel='stylesheet', href=cf + "font-awesome/4.7.0/css/font-awesome.min.css", media='none', onload="if(media!='all')media='all'")
noscript
  link(rel='stylesheet', href=cf + "font-awesome/4.7.0/css/font-awesome.min.css")

link(rel='stylesheet', href=cf + "highlight.js/9.12.0/styles/hybrid.min.css", media='none', onload="if(media!='all')media='all'")
noscript
  link(rel='stylesheet', href=cf + "highlight.js/9.12.0/styles/hybrid.min.css")

script(src=cf + "jquery/3.3.1/jquery.min.js")
script(defer src=cf + "twitter-bootstrap/3.3.7/js/bootstrap.min.js")
script(defer src=url_for("/js/main.js") + "?__inline=true")
script(defer src='//googletagmanager.com/gtag/js?id=UA-122689197-1')
script(src=cf + "highlight.js/9.12.0/highlight.min.js")

- var cdn_hl = "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/"
script(defer src=cdn_hl + "elm.min.js?__inline=true")
script(defer src=cdn_hl + "dockerfile.min.js?__inline=true")
script(defer src=cdn_hl + "haskell.min.js?__inline=true")

script(type='text/javascript').
  document.addEventListener("DOMContentLoaded", function(event) {
        hljs.initHighlightingOnLoad();
  });
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-122689197-1');
