meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=10.0")
meta(name="author", content=config.author)

- var cf = "//cdnjs.cloudflare.com/ajax/libs/"

link(rel='preload' href=url_for(theme.favicon) as='image' onload="this.rel='shortcut icon'" sizes='45x48')
noscript
  link(rel='shortcut icon' sizes='45x48' href=url_for(theme.favicon))


link(rel='preload' href='https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf' as='font' crossorigin='anonymous')
link(rel='preload' href='https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf' as='font' crossorigin='anonymous')
link(rel='preload' href='https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0e.ttf' as='font' crossorigin='anonymous')
link(rel='preload' href='https://fonts.gstatic.com/s/ptserif/v12/EJRVQgYoZZY2vCFuvAFWzro.ttf' as='font' crossorigin='anonymous')
link(rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0' as='font' crossorigin='anonymous')

link(rel='preload' href=cf+ "jquery/3.6.0/jquery.min.js" as='script' crossorigin='anonymous')

link(rel="icon", href=url_for(theme.favicon), onload="if(media!='all')media='all'")
noscript
  link(rel="icon", href=url_for(theme.favicon))

title
   block site_title
       = config.title
block description
    meta(name="description", content=config.description)


link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"), onload="if(media!='all')media='all'")
noscript
  link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel='preload', href="/css/styles.pure.css", as="style")
link(rel='preload', href=cf + "KaTeX/0.11.1/katex.min.css", as="style")
link(rel='preload', href=cf + "highlight.js/9.12.0/highlight.min.js", as="script")
link(rel='preload', href=cf + "twitter-bootstrap/3.4.1/js/bootstrap.min.js", as="script")

link(rel='stylesheet', href="/css/styles.pure.css", onload="if(media!='all')media='all'")
noscript
  link(rel='stylesheet', href="/css/styles.pure.css")

script(defer src=cf+ "jquery/3.6.0/jquery.min.js")

link(rel='stylesheet', href=cf + "KaTeX/0.11.1/katex.min.css", media='none', onload="if(media!='all')media='all'")
noscript
  link(rel='stylesheet', href=cf + "KaTeX/0.11.1/katex.min.css")

link(rel='stylesheet', href=cf + "highlight.js/9.12.0/styles/github.min.css?__inline=true", media='none', onload="if(media!='all')media='all'")
noscript
  link(rel='stylesheet', href=cf + "highlight.js/9.12.0/styles/github.min.css?__inline=true")

script(defer src=cf + "twitter-bootstrap/3.4.1/js/bootstrap.min.js")
script(defer src="/js/main.js?__inline=true")
script(defer src=cf + "highlight.js/9.12.0/highlight.min.js")

script(defer type='text/javascript').
  document.addEventListener("DOMContentLoaded", function(event) {
        hljs.initHighlightingOnLoad();
  });

