meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

link(rel="icon", href=url_for(theme.favicon))

title
   block site_title
       = config.title
block description
    meta(name="description", content=config.description)

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/KaTeX/0.7.1/katex.min.css")
link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/hybrid.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/highlightjs-line-numbers.js/2.0.0/highlightjs-line-numbers.min.js")

link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)


